<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/50d980e5-4fa4-4d36-a067-7c707153e60b/resourceGroups/maerskLineGroup/providers/Microsoft.Web/sites/maerskLineSEA</ResourceId>
    <ResourceGroup>maerskLineGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maersklinesea.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maersklinesea.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>maerskLineSEA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$maerskLineSEA</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MaerskLineEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:maersk-line-server.database.windows.net,1433;Initial Catalog=maerskLineDB;User ID=aaron@maersk-line-server.database.windows.net;Password=test@1234" Name="Data Source=tcp:maersk-line-server.database.windows.net,1433;Initial Catalog=maerskLineDB;User Id=aaron@maersk-line-server.database.windows.net;Password=test@1234;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MaerskLine.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MaerskLineEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AllModel.csdl|res://*/Models.AllModel.ssdl|res://*/Models.AllModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MaerskLine.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:maersk-line-server.database.windows.net,1433;Initial Catalog=maerskLineDB;User ID=aaron@maersk-line-server.database.windows.net;Password=test@1234" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MaerskLine-20170330012954.mdf;Initial Catalog=aspnet-MaerskLine-20170330012954;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MaerskLine-20170330012954.mdf;Initial Catalog=aspnet-MaerskLine-20170330012954;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MaerskLineEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AllModel.csdl|res://*/Models.AllModel.ssdl|res://*/Models.AllModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:maersk-line-server.database.windows.net,1433;initial catalog=maerskLineDB;user id=aaron@maersk-line-server.database.windows.net;password=test@1234;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersk-line-server.database.windows.net,1433;Initial Catalog=maerskLineDB;User ID=aaron@maersk-line-server.database.windows.net;Password=test@1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AllModel.csdl|res://*/Models.AllModel.ssdl|res://*/Models.AllModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:maersk-line-server.database.windows.net,1433;initial catalog=maerskLineDB;user id=aaron@maersk-line-server.database.windows.net;password=test@1234;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersk-line-server.database.windows.net,1433;Initial Catalog=maerskLineDB;User Id=aaron@maersk-line-server.database.windows.net;Password=test@1234;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>